body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #0f1111;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
}
 .nav-logo{
  
    height: 50px;
    width: 100px;
 }
 .logo{
   background-image: url("amazon_logo.png");
    background-size: cover;

    height: 50px;
    width: 100%;
 }

 .border{
border: 2px solid transparent;
 }
 .border:hover{
    border: 1.5px  solid white;

    
 }
 .add-first{
   color: #cccccccc;
   font-size: 0.85rem;
   margin-left: 15px;
 }
 .add-second{
   font-size: 1rem;
   margin-left: 2px;
   
 }

